<div class="h-150 w-200 flex p-5 *:rounded-4xl gap-10">
  <div class="w-1/2 h-full flex flex-col gap-5">
    <div class="w-full h-full">
      <app-file-drop-zone
        accept="image/*"
        acceptPrefix="image/"
        [multiple]="true"
        (filesSelected)="onFilesSelected($event)"
        (filesRejected)="onFilesRejected($event)"
      >
        <span dropZoneLabel>Drop images here, or click to upload.</span>
      </app-file-drop-zone>
    </div>
  </div>
  <!-- Picture Slot -->
  <div class="h-full w-1/2 *:w-full flex flex-col gap-3">
    <form #f="ngForm" [formGroup]="imageForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full">
        <mat-label>File Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <textarea rows="5" matInput formControlName="description" required></textarea>
      </mat-form-field>
      <tag-chip-grid-component (outputTags)="OnTagAdded($event)"></tag-chip-grid-component>
      <app-checklist-component></app-checklist-component>
      <button matButton="elevated" type="submit" class="mt-5 w-full">Upload Image</button>
    </form>
  </div>
  <!-- Input Fields -->
</div>
