<div>
  <form class="flex flex-col" (ngSubmit)="onSubmit()">
    <div
      class="flex flex-col *:-rotate-x-10 *:rotate-y-55 perspective-origin-bottom-right perspective-[200px] mb-4"
    >
      <label class="font-helvetica text-3xl">E-mail</label>
      <input
        class="bg-white border-2 rounded-md"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>

    <div
      class="flex flex-col *:rotate-x-10 *:-rotate-y-55 perspective-origin-bottom-left perspective-[200px] mb-8"
    >
      <label class="font-helvetica text-3xl">Password</label>
      <input
        class="bg-white border-2 rounded-md"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    @if (error) {
      <p class="error">{{ error }}</p>
    }
    <div class="flex justify-center">
      <button class="font-dystopian text-6xl w-fit text-black" type="submit" [disabled]="loading">
        {{ loading ? 'Logging in...' : 'Login' }}
      </button>
    </div>
  </form>
</div>
