<div>
  <form class="flex flex-col" (ngSubmit)="onSubmit()">
    <div
      class="flex flex-col *:-rotate-x-10 *:rotate-y-55 perspective-origin-bottom-right perspective-[200px] mb-10 w-60 mt-20"
    >
      <label class="font-helvetica text-3xl">E-mail</label>
      <input
        class="bg-white border-2 rounded-md"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>

    <div
      class="flex flex-col *:rotate-x-10 *:-rotate-y-55 perspective-origin-bottom-left perspective-[200px] mb-20"
    >
      <label class="font-helvetica text-3xl">Password</label>
      <input
        class="bg-white border-2 rounded-md"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <p class="error font-dystopian text-center text-4xl mb-4">{{ error }}&nbsp;</p>

    <div class="flex justify-center">
      <button class="bg-black border-black border-2 rounded-2xl" type="submit" [disabled]="loading">
        <p class="font-dystopian text-6xl w-28 h-17 text-white">
          {{ loading ? 'Wait!' : 'Login' }}
        </p>
      </button>
    </div>
  </form>
</div>
